<clr-main-container>

<clr-header class="header header-5">
  <div class="branding">
    <a href="..." class="nav-link">
        <clr-icon shape="vm-bug"></clr-icon>
        <span class="title">Banpheaek Hospital</span>
    </a>
</div>
</clr-header>

<div class="content-container">
    <div class="content-area">
       <router-outlet></router-outlet>

    </div>

    <clr-vertical-nav [clrVerticalNavCollapsible]="true" [(clrVerticalNavCollapsed)]="collapsed">
      <a clrVerticalNavLink routerLink="/main" routerLinkActive="active">
          <clr-icon clrVerticalNavIcon shape="bolt"></clr-icon>
          หน้าหลัก
      </a>
      <a clrVerticalNavLink routerLink="/new" routerLinkActive="active">
          <clr-icon clrVerticalNavIcon shape="user"></clr-icon>
          เพิ่มผู้ใช้งาน
      </a>

      <a clrVerticalNavLink routerLink="/credit" routerLinkActive="active">
          <clr-icon clrVerticalNavIcon shape="certificate"></clr-icon>
          Credit
      </a>
  </clr-vertical-nav>
</div>

</clr-main-container>

